* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

html {
    font-size: 106.25%;
}

body {
    min-width: 320px;
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -0.021em;
    color: #333;
    font-style: normal;
}

a {
    color: #000;
    -webkit-transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

a:hover {
    text-decoration: none;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row-eq-height > [class*=col-] {
    display: flex;
}

@media screen and (max-width: 992px) {
    .row-eq-height {
        display: block !important;
    }

    .row-eq-height > [class*=col-] {
        display: block !important;
    }
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all 0.5s;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 20px;
    position: relative;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card .card-title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.card .card-title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    white-space: nowrap;
}

.card .card-content {
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

.dt-buttons {
    margin-bottom: 20px;
}

.dt-buttons .btn-sm {
    margin-right: 10px;
}
